In [123]:
import numpy as np

In [124]:
A = np.array([[1,2,3,4,5],[6,7,8,9,0],[11,22,33,44,55],[66,77,88,99,100]])

In [125]:
A

array([[  1,   2,   3,   4,   5],
       [  6,   7,   8,   9,   0],
       [ 11,  22,  33,  44,  55],
       [ 66,  77,  88,  99, 100]])

In [126]:
A.shape

(4, 5)

In [175]:
A.dtype
A.size

20

In [128]:
A.reshape(5,4)

array([[  1,   2,   3,   4],
       [  5,   6,   7,   8],
       [  9,   0,  11,  22],
       [ 33,  44,  55,  66],
       [ 77,  88,  99, 100]])

In [129]:
A.reshape(5,4,1)

array([[[  1],
        [  2],
        [  3],
        [  4]],

       [[  5],
        [  6],
        [  7],
        [  8]],

       [[  9],
        [  0],
        [ 11],
        [ 22]],

       [[ 33],
        [ 44],
        [ 55],
        [ 66]],

       [[ 77],
        [ 88],
        [ 99],
        [100]]])

In [130]:
A.itemsize

4

In [131]:
A[0] = [5,4,3,2,1]

In [132]:
B = A[0]

In [133]:
B

array([5, 4, 3, 2, 1])

In [134]:
A

array([[  5,   4,   3,   2,   1],
       [  6,   7,   8,   9,   0],
       [ 11,  22,  33,  44,  55],
       [ 66,  77,  88,  99, 100]])

In [135]:
## Get 44
A[2][3]

44

In [136]:
## Get 100
A[-1][4]

100

In [137]:
## FLIP THE DATA upside down
A[::-1]

array([[ 66,  77,  88,  99, 100],
       [ 11,  22,  33,  44,  55],
       [  6,   7,   8,   9,   0],
       [  5,   4,   3,   2,   1]])

In [138]:
## MUTIPLY, DIVIDE, ADD, SUBTRCT a by 2

A * 2
A / 2
A + 2
A - 2
A ** 2

array([[   25,    16,     9,     4,     1],
       [   36,    49,    64,    81,     0],
       [  121,   484,  1089,  1936,  3025],
       [ 4356,  5929,  7744,  9801, 10000]], dtype=int32)

In [139]:
np.sin(A)
np.cos(A)
np.tan(A)

array([[-3.38051501e+00,  1.15782128e+00, -1.42546543e-01,
        -2.18503986e+00,  1.55740772e+00],
       [-2.91006191e-01,  8.71447983e-01, -6.79971146e+00,
        -4.52315659e-01,  0.00000000e+00],
       [-2.25950846e+02,  8.85165604e-03, -7.53130148e+01,
         1.77046993e-02, -4.51830879e+01],
       [ 2.65605178e-02, -3.22685758e+01,  3.54205013e-02,
        -2.50925350e+01, -5.87213915e-01]])

In [140]:
B = A[0] * A[1] * A[2] * A[3]

In [141]:
B

array([21780, 47432, 69696, 78408,     0])

In [142]:
C = B[0] + B[1] + B[2] + B[3]

In [143]:
C

217316

In [144]:
e = np.arange(0,10,2)

In [145]:
e

array([0, 2, 4, 6, 8])

In [156]:
ab = np.array([[1,30,3],
             [2,5,6]])

In [157]:
ab

array([[ 1, 30,  3],
       [ 2,  5,  6]])

In [158]:
ba = np.array([[5,7,0],
              [3,6,8]])

In [159]:
ab * ba

array([[  5, 210,   0],
       [  6,  30,  48]])

In [160]:
f = np.array([1,2,3,4,5])

In [170]:
g = np.copy(f)

In [171]:
f

array([1, 2, 3, 4, 5])

In [172]:
g

array([1, 2, 3, 4, 5])

In [173]:
h = np.identity(5)

In [174]:
h

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [176]:
## https://numpy.org/devdocs/reference/routines.array-manipulation.html
#Array manipulation

In [183]:
np.zeros((2,10))
np.full(3,6)

array([6, 6, 6])

In [184]:
np.random.random(3)

array([0.68007841, 0.65008836, 0.04991118])

In [185]:
np.arange(5)**2

array([ 0,  1,  4,  9, 16], dtype=int32)

In [ ]:
# Check the documentation for more
  # https://numpy.org/devdocs/user/quickstart.html